@model Web_Bán_Quần_Áo_SecondHand.Models.SanPham

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Create</h2>
@using (Html.BeginForm("Create", "Admin", FormMethod.Post, new {@enctype= "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal"style="text-align:center;">
        <h4>Sản Phẩm</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        Mã Loại:
        <div class="col-md-5">
            @Html.EditorFor(model => model.MaLoai, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.MaLoai, "", new { @class = "text-danger" })
        </div>
    </div>

        <div class="form-group">
            Mã Thương Hiệu:
            <div class="col-md-5">
                @Html.EditorFor(model => model.MaTH, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MaTH, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Tên Sản Phẩm:
            <div class="col-md-5">
                @Html.EditorFor(model => model.TenSP, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TenSP, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
           Đơn Giá:
            <div class="col-md-5">
                @Html.EditorFor(model => model.DonGia, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DonGia, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Ngày Nhập:
            <div class="col-md-5">
                <input type="date" name="NgayNhap" />
                @Html.ValidationMessageFor(model => model.NgayNhap, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Hình Ảnh:
            <div class="col-md-5">
                <input type="file" name="fileupload" />
                @ViewBag.Thongbao
            </div>
        </div>

        <div class="form-group">
            Chi tiết:
            <div class="col-md-5">
                @Html.EditorFor(model => model.Details, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Details, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Số lượng tồn:
            <div class="col-md-5">
                @Html.EditorFor(model => model.SoLuongTon, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SoLuongTon, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10" style="margin:0 auto">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "IndexAdmin", "Admin")
</div>
