@model Web_Bán_Quần_Áo_SecondHand.Models.SanPham

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Thông tin chi tiết sản phẩm</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal"style="text-align:center">
        <dt >
            Mã Loại:
        </dt>

        <dd >
            @Html.DisplayFor(model => model.MaLoai)
        </dd>

        <dt >
            Mã Thương Hiệu:
        </dt>

        <dd >
            @Html.DisplayFor(model => model.MaTH)
        </dd>

        <dt>
            Mã Sản Phẩm:
        </dt>

        <dd >
            @Html.DisplayFor(model => model.TenSP)
        </dd>

        <dt>
            Đơn Giá:
        </dt>

        <dd >
            @Html.DisplayFor(model => model.DonGia)
        </dd>

        <dt>
            Ngày Nhập:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayNhap)
        </dd>

        <dt>
            Hình Ảnh:
        </dt>

        <dd>
            <img src="@Url.Content( Model.Image)" width="120px" />
        </dd>

        <dt>
            Chi Tiết:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Details)
        </dd>

        <dt>
            Số Lượng Tồn:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuongTon)
        </dd>

    </dl>
</div>
<div class="form-actions no-color" style="text-align:center">
    <a class="btn btn-primary" href=" @Url.Action("Edit", "Edit", new { id = Model.MaSP })" role="button">Edit</a>
    <a href="@Url.Action("IndexAdmin","Admin")">
        <img src="~/Content/Images/back.jpg" width="175px" height="175px" />
    </a>

</div>

     |
    

