@model Web_Bán_Quần_Áo_SecondHand.Models.SanPham
@using Web_Bán_Quần_Áo_SecondHand.Models
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

    <div class="card">
        <p><h3 style="font-size:26pt;font-family:Tahoma;text-align:center">Chi tiết</h3></p>
        
        <div class="card-body"style="text-align:center";font-size:24pt">
            <form action="#" id="basicform" data-parsley-validate="" novalidate="">

                <div class="form-group" style="font-size:24pt;>
                    <label for="inputPassword">Mã Loại:</label>
                    @Html.DisplayFor(model => model.MaLoai)
                </div>
                <div class="form-group" style="font-size:24pt;>
                    <label for="inputPassword">Mã Thương Hiệu:</label>
                    @Html.DisplayFor(model => model.MaTH)
                </div>
                <div class="form-group"style="font-size:24pt;>
                    <label for="inputPassword">Tên Sản Phẩm:</label>
                    @Html.DisplayFor(model => model.TenSP)
                </div>
                <div class="form-group" style="font-size:24pt;>
                    <label for="inputRepeatPassword">Đơn Giá:</label>
                    @String.Format("{0:0,0}₫", Model.DonGia)
                </div>
                <div class="form-group"style="font-size:24pt;>
                    <label for="inputRepeatPassword">Ngày Nhập:</label>
                    @Html.DisplayFor(model => model.NgayNhap)
                </div>
                <div class="form-group"style="font-size:24pt;>
                    <p><label for="inputRepeatPassword">Hình Ảnh:</label></p>
                    
                    <img src="@Url.Content( Model.Image)" width="300px" />
                </div>
                <div class="form-group"style="font-size:24pt;>
                    <label for="inputRepeatPassword">Chi tiết:</label>
                    @Html.DisplayFor(model => model.Details)
                </div>
                <div class="form-group"style="font-size:24pt;>
                    <label for="inputRepeatPassword">Số lượng tồn:</label>
                    @Html.DisplayFor(model => model.SoLuongTon)
                </div>
                
                    <div> 
                        <a href="@Url.Action("Edit", "Admin", new { id = Model.MaSP })" button type="submit" class="btn btn-space btn-primary">
                            Edit</button>

                            <a href="@Url.Action("Sanpham","Admin")" button class="btn btn-space btn-secondary">Cancel</a>
                    </div>
               
        </div>
    </div>

