@model Web_Bán_Quần_Áo_SecondHand.Models.SanPham
@using Web_Bán_Quần_Áo_SecondHand.Models
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.MaSP)

    <div class="form-group">
        <b class="control-label col-md-2">Mã sản phẩm</b>
        <div class="col-md-10">
            <div style="font:18px; padding:5px 0 0 5px;">@Model.MaSP</div>
        </div>
    </div>
    <div class="form-group">
        <b class="control-label col-md-2">Mã Loại</b>
        <div class="col-md-10">
            @Html.DropDownList("MaLoai")
        </div>
    </div>

    <div class="form-group">
        <b class="control-label col-md-2">Mã Thương Hiệu</b>
        <div class="col-md-10">
            @Html.DropDownList("MaTH")
        </div>
    </div>
    <div class="form-group">
        <b class="control-label col-md-2">Tên sản phẩm</b>
        <div class="col-md-10">
            @Html.EditorFor(model => model.TenSP, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TenSP, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <b class="control-label col-md-2">Giá bán</b>
        <div class="col-md-10">
            
            @String.Format("{0:0,0}₫", Model.DonGia)
        </div>
    </div>

    <div class="form-group">
        <b class="control-label col-md-2">Hình ảnh</b>
        <div class="col-md-10">
            Chọn ảnh mới
            <input type="file" name="fileupload" />
            <img src="@Url.Content(Model.Image)" width="300px" />(Ảnh hiện tại)
            @*Thong bao trung*@
            @ViewBag.Thongbao
        </div>
    </div>

    <div class="form-group">
        <b class="control-label col-md-2">Ngày cập nhật</b>
        <div class="col-md-10">
            @Html.EditorFor(model => model.NgayNhap, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NgayNhap, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <b class="control-label col-md-2">Số lượng tồn</b>
        <div class="col-md-10">
            @Html.EditorFor(model => model.SoLuongTon, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.SoLuongTon, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="col-sm-6 pl-0">
        <p class="text-right">
            <button type="submit" class="btn btn-space btn-primary">Save</button>

            <a href="@Url.Action("Sanpham","Admin")" button class="btn btn-space btn-secondary">Cancel</a>
        </p>
    </div>
</div>
        
   
}




