@model Web_Bán_Quần_Áo_SecondHand.Models.SanPham
@using Web_Bán_Quần_Áo_SecondHand.Models
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
    <div class="card">
        <h5 class="card-header">Chỉnh sửa</h5>
        <div class="card-body">
            <form action="#" id="basicform" data-parsley-validate="" novalidate="">
                @Html.HiddenFor(model => model.MaSP)
                <div class="form-group">                               
                        @Html.EditorFor(model => model.MaSP)
                        @Html.ValidationMessageFor(model => model.MaSP)                 
                </div>
                <div class="form-group">
                    <label for="inputUserName">Mã Loại:</label>
                    @Html.DropDownList("MaLoai")
                </div>
                <div class="form-group">
                    <label for="inputEmail">Mã Thương Hiệu:</label>
                    @Html.DropDownList("MaTH")
                </div>
                <div class="form-group">
                    <label for="inputPassword">Tên Sản Phẩm:</label>
                    @Html.EditorFor(model => model.TenSP)
                    @Html.ValidationMessageFor(model => model.TenSP)
                </div>
                <div class="form-group">
                    <label for="inputRepeatPassword">Đơn Giá</label>
                    @Html.EditorFor(model => model.DonGia)
                    @Html.ValidationMessageFor(model => model.DonGia)
                </div>
                <div class="form-group">
                    @Html.EditorFor(model => model.NgayNhap)
                    @Html.ValidationMessageFor(model => model.NgayNhap)
                </div>
                <div class="form-group">
                    Chọn ảnh mới
                    <input type="file" name="fileUpload" />
                    <img src="@Url.Content(Model.Image)" width="120px" /> (Ảnh hiện tại)
                    @*thong bao trung*@
                    @ViewBag.Thongbao
                </div>
                <div class="form-group">
                    <textarea name="Details">Mô tả thông tin sách</textarea>
                </div>
                <div class="form-group">
                    @Html.EditorFor(model => model.SoLuongTon)
                    @Html.ValidationMessageFor(model => model.SoLuongTon)
                </div>
                <div class="col-sm-6 pl-0">
                    <p class="text-right">
                        <button type="submit" class="btn btn-space btn-primary">Save</button>
                        
                        <a href="@Url.Action("Sanpham","Admin")" button class="btn btn-space btn-secondary" >Cancel</a> 
                    </p>
                </div>
</div>
        </form>
    </div>
</div>
</div>


