@model Web_Bán_Quần_Áo_SecondHand.Models.CongTy_VanChuyen

@{
    ViewBag.Title = "SuaVanchuyen";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<p>
    <h3 style="font-size:26pt;font-family:Tahoma">Sửa Công ty vận chuyển</h3>


</p>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        
        @Html.HiddenFor(model => model.MaCT)

        <div class="form-group">
           Tên Công Ty
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenCT, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TenCT, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
           SĐT
            <div class="col-md-10">
                @Html.EditorFor(model => model.SDT, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SDT, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Địa chỉ
            <div class="col-md-10">
                @Html.EditorFor(model => model.DiaChi, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DiaChi, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Cước phí
            <div class="col-md-10">
                @Html.EditorFor(model => model.CuocPhi, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CuocPhi, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-sm-6 pl-0">
            <p class="text-right">
                <button type="submit" class="btn btn-space btn-primary">Sửa</button>
                <a href="@Url.Action("vanchuyen", "Admin")" button class="btn btn-space btn-secondary">Cancel</a>
            </p>
        </div>
    </div>
}


