@using Web_Bán_Quần_Áo_SecondHand.Models;
@using PagedList.Mvc;
@model PagedList.PagedList<Web_Bán_Quần_Áo_SecondHand.Models.ThuongHieu>


@{
    ViewBag.Title = "thuonghieu";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<p>
    <h3 style="font-size:26pt;font-family:Tahoma">Thương hiệu</h3>
    <div style="padding-left:15px"><i class="fas fa-plus"></i> @Html.ActionLink("Thêm thương hiệu", "CreateThuonghieu")</div>

</p>
<table class="table">
    <tr class="table-primary">
        <th>
            Mã Thương Hiệu
        </th>
        <th>
            Tên Thương Hiệu
        </th>
        <th>
            Địa chỉ
        </th>
        <th>
            SĐT
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="table-success">
            <td>
                @Html.DisplayFor(modelItem => item.MaTH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenTH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SDT)
            </td>
            <td>
                @Html.ActionLink("Edit", "SuaThuonghieu", new { id = item.MaTH.Trim() }) |               
                @Html.ActionLink("Delete", "DeleteThuonghieu", new { id = item.MaTH.Trim() })
            </td>
        </tr>
    }

</table>
<div class="MenuTrang">
    @Html.PagedListPager(Model, page => Url.Action("thuonghieu", new { page = page }))
</div>
<style>
    .MenuTrang * {
        display: flex;
        color: black;
        justify-content: center;
        font-size: 16pt;
        padding: 5px;
    }
</style>