@using Web_Bán_Quần_Áo_SecondHand.Models;
@using PagedList.Mvc;
@model PagedList.PagedList<Web_Bán_Quần_Áo_SecondHand.Models.Admin>
@{
    ViewBag.Title = "tkadmin";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<p>
    <h3 style="font-size:26pt;font-family:Tahoma">Tài khoản Admin</h3>
    <div style="padding-left:15px"><i class="fas fa-plus"></i> @Html.ActionLink("Thêm Admin", "CreateAdmin")</div>


</p>
<table class="table" border="1">
    <tr class="table-primary" >
        <th>
            Tài khoản
        </th>
        <th>
            Mật khẩu
        </th>
        <th>
            Họ và Tên
        </th>
        <th>
            Image
        </th>
        <th>
            SĐT
        </th>
        <th>
            Email
        </th>
        <th>
            Địa chỉ
        </th>
        <th>
            Ngày Sinh
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr class="table-success" >
    <td>
        @Html.DisplayFor(modelItem => item.UserAdmin)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PassAdmin)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Hoten)
    </td>
    <td >
        <img src="@item.Image" style="width:180px; height: 180px;" />
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SDT)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Email)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DiaChi)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NgaySinh)
    </td>
    <td>
        <button class="btn btn-sm btn-outline-light">
            <i class="fas fa-edit"></i>
            @Html.ActionLink("Edit", "SuaAccount", new { id = item.UserAdmin.Trim() })
        </button>

        <button class="btn btn-sm btn-outline-light">
            <i class="far fa-trash-alt"></i>
            @Html.ActionLink("Delete", "DeleteAdmin", new { id = item.UserAdmin.Trim() })
        </button>
         
        
    </td>
</tr>
    }

</table>
<div class="MenuTrang">
    @Html.PagedListPager(Model, page => Url.Action("tkadmin", new { page = page }))
</div>
<style>
    .MenuTrang * {
        display: flex;
        color: black;
        justify-content: center;
        font-size: 16pt;
        padding: 5px;
    }
</style>