@using Web_Bán_Quần_Áo_SecondHand.Models;
@using PagedList.Mvc;
@model PagedList.PagedList<Web_Bán_Quần_Áo_SecondHand.Models.CongTy_VanChuyen>

@{
    ViewBag.Title = "vanchuyen";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}



<p>
    <h3 style="font-size:26pt;font-family:Tahoma">Công ty vận chuyển</h3>
    <div style="padding-left:15px"><i class="fas fa-plus"></i> @Html.ActionLink("Thêm Công ty vận chuyển", "CreateVanchuyen")</div>

</p>

<table class="table">
    <tr class="table-primary">
        <th>
            Mã Công Ty
        </th>
        <th>
            Tên Công Ty
        </th>
        <th>
            SĐT
        </th>
        <th>
            Địa chỉ
        </th>
        <th>
            Cước phí
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr class="table-success">
    <td>
        @Html.DisplayFor(modelItem => item.MaCT)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TenCT)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SDT)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DiaChi)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CuocPhi)
    </td>
    <td>
        <button class="btn btn-sm btn-outline-light">
            <i class="fas fa-edit"></i>
            @Html.ActionLink("Edit", "SuaVanchuyen", new { id = item.MaCT.Trim() })
        </button>

        <button class="btn btn-sm btn-outline-light">
            <i class="far fa-trash-alt"></i>
            @Html.ActionLink("Delete", "DeleteVanchuyen", new { id = item.MaCT.Trim() })
        </button>

    </td>
</tr>
    }

</table>
<div class="MenuTrang">
    @Html.PagedListPager(Model, page => Url.Action("vanchuyen", new { page = page }))
</div>
<style>
    .MenuTrang * {
        display: flex;
        color: black;
        justify-content: center;
        font-size: 16pt;
        padding: 5px;
    }
</style>