@using Web_Bán_Quần_Áo_SecondHand.Models

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>

    <link href="~/Content/style.css" rel="stylesheet" />
    <!---- <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet"></!-->


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Document title -->
    <title>Multipurpose</title>    <!-- Stylesheets & Fonts -->
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i%7CRajdhani:400,600,700"
          rel="stylesheet">
    <!-- Plugins Stylesheets -->
    <link href="~/Content/loader/loaders.css" rel="stylesheet" />
    <link href="~/Content/font-awesome/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/bootstrap1.css" rel="stylesheet" />
    <link href="~/Content/aos/aos.css" rel="stylesheet" />
    <link href="~/Content/swiper/swiper.css" rel="stylesheet" />
    <link href="~/Content/lightgallery.min.css" rel="stylesheet" />
    <!-- Template Stylesheet -->
    <link href="~/Content/style1.css" rel="stylesheet" />
    <!-- Responsive Stylesheet -->
    <link href="~/Content/responsive.css" rel="stylesheet" />
</head>
<body>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v11.0" nonce="DRnzoawa"></script>
    <!-- Header Start -->
    <header class="position-absolute w-100">
        <div class="container">
            <div class="top-header d-none d-sm-flex justify-content-between align-items-center">
                <div class="contact">
                    <a href="tel:+1234567890" class="tel"><i class="fa fa-phone" aria-hidden="true"></i>+0586051405</a>
                    <a href="mailto:info@yourmail.com">
                        <i class="fa fa-envelope"
                           aria-hidden="true"></i>calashopsh@gmail.com
                    </a>
                </div>
                <nav class="d-flex aic">
                    <a href="@Url.Action("Dangnhap","Nguoidung")" " class="login"><i class="fa fa-user" aria-hidden="true"></i>Login</a>
                    <ul class="nav social d-none d-md-flex">
                        <li><a href="https://www.facebook.com/CALA-Ti%E1%BB%87m-2hand-104941784794471" target="_blank"><i class="fa fa-facebook"></i></a></li>

                        <li><a href="https://www.instagram.com/_cala.2hand/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                </nav>
            </div>
            <nav class="navbar navbar-expand-md navbar-light">
                <a class="navbar-brand" href="index.html"><img src="~/Content/Images/1-removebg-preview.png"style="width:30%" alt="CALA"></a>
                <div class="group d-flex align-items-center">
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <a class="cart" href="@Url.Action("GioHang","GioHang")"><i class="fa fa-shopping-cart" aria-hidden="true"></i>@Html.Action("GiohangPartial", "Giohang")</a>
                </div>
                <a class="search-icon d-none d-md-block" href="#"><i class="fa fa-search"></i></a>
                <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a class="nav-link" href="@Url.Action("Index","ShopSecondHand")">Home</a></li>

                        <li>@Html.Action("BoSuuTap", "ShopSecondHand")</li>

                        <li class="nav-item"><a class="nav-link" href="@Url.Action("aboutus","ShopSecondHand")">About Us</a></li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                Xin Chào @Session["Taikhoandn"]
                            </a>
                        </li>

                    </ul>
                    <form class="bg-white search-form" method="post" action="/ShopSecondHand/Search">
                        <div class="input-group">
                            <input class="field form-control"  name="keyword" type="text" placeholder="Search">
                            <span class="input-group-btn">
                                <input class="submit btn btn-primary" id="searchsubmit" name="submit" type="submit"
                                        value="Search"> </input>
                                
                            </span>
                        </div>
                    </form>
                </div>
            </nav>
        </div>
    </header>
    <!-- Header End -->
    <!--Categories-->
    <div class="CSSgal">

        <!-- Don't wrap targets in parent -->
        <s id="s1"></s>
        <s id="s2"></s>
        <s id="s3"></s>
        <s id="s4"></s>

        <div class="slider">
            <div style="background-image:url(../../Content/Images/bia.png">

            </div>
            <div style="background-image:url(../../Content/Images/all2.jpg);">

            </div>
            <div style="background-image: url(../../Content/Images/alll3.jpg);">

            </div>
            <div style="background-image: url(../../Content/Images/alll4.jpg);">

            </div>
        </div>

        <div class="prevNext">
            <div><a href="#s4"></a><a href="#s2"></a></div>
            <div><a href="#s1"></a><a href="#s3"></a></div>
            <div><a href="#s2"></a><a href="#s4"></a></div>
            <div><a href="#s3"></a><a href="#s1"></a></div>
        </div>

        <div class="bullets">
            <a href="#s1">1</a>
            <a href="#s2">2</a>
            <a href="#s3">3</a>
            <a href="#s4">4</a>
        </div>

    </div>
    <!--End categories-->
    <div style="color:black;font-size:18px">

        @RenderBody()
    </div>
    <!--End sản phẩm nổi bật-->
    <!--Nhận xét khách hàng-->
    <div class="testimonial">
        <div class="small-container">
            <div class="row">

                <div class="col-3">
                    <i class="fa fa-quote-left"></i>
                    <p>
                        Sản phẩm này rất tốt,giao hàng tận tình tôi rất thích.Nói chung rất ưng.
                    </p>
                    <div class="rating">
                        <i class=" fa fa-star"></i>
                        <i class=" fa fa-star"></i>
                        <i class=" fa fa-star"></i>
                        <i class=" fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                    </div>
                    <img src="~/Content/Images/tran-thanh-p-16031678576061691914167.png" alt="Alternate Text" />
                    <h3>Trấn Thành</h3>
                </div>

                <div class="col-3">
                    <i class="fa fa-quote-left"></i>
                    <p>
                        Sản phẩm này rất tốt,Đây là điều tôi mong chờ.Giao hàng nhanh.
                    </p>
                    <div class="rating">
                        <i class=" fa fa-star"></i>
                        <i class=" fa fa-star"></i>
                        <i class=" fa fa-star"></i>
                        <i class=" fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                    </div>
                    <img src="~/Content/Images/unnamed.jpg" alt="Alternate Text" />
                    <h3>Sơn Tùng M-TP</h3>
                </div>

                <div class="col-3">
                    <i class="fa fa-quote-left"></i>
                    <p>
                        Sản phẩm này rất tốt. Tôi sẽ mua lại vào lần sau.
                    </p>
                    <div class="rating">
                        <i class=" fa fa-star"></i>
                        <i class=" fa fa-star"></i>
                        <i class=" fa fa-star"></i>
                        <i class=" fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                    </div>
                    <img src="~/Content/Images/kyduyen.jpg" alt="Alternate Text" />
                    <h3>Hoa Hậu Kỳ Duyên</h3>
                </div>

            </div>
        </div>
    </div>

    <!--Logo Thương Hiệu -->
    <div class="brands">
        <div class="small-container">
            <div class="row">
                <div class="col-5">
                    <img src="~/Content/Images/fb.jpg" alt="Alternate Text" />
                </div>

                <div class="col-5">
                    <img src="~/Content/Images/insta.jpg" alt="Alternate Text" />
                </div>

                <div class="col-5">
                    <img src="~/Content/Images/logo-paypal.png" alt="Alternate Text" />
                </div>

                <div class="col-5">
                    <img src="~/Content/Images/Lazada.jpg" alt="Alternate Text" />
                </div>

                <div class="col-5">
                    <img src="~/Content/Images/shopee.jpg" alt="Alternate Text" />
                </div>

            </div>
        </div>

    </div>

    <!--footer-->
    <div class="footer">
        <div class="container">
            <div class="row">
                <!--Phần download app-->
                <div class="footer-col-1">
                    <h3>HỔ TRỢ KHÁCH HÀNG</h3>
                    <ul class="list-unstyled mb-0">
                        <li><a href="@Url.Action("huongdanmuahang","ShopSecondHand")" title="Hướng dẫn mua hàng" style="color: white; font-family: Tahoma; padding: 0px 15px 10px; ">Hướng dẫn mua hàng</a></li>
                        <p>
                        <li><a href="/pages/thanh-toan" title="Thanh toán" style="color: white; font-family: Tahoma; padding: 0px 15px 10px; ">Thanh toán & Vận chuyển </a></li>
                        </p>
                        <p>
                        <li><a href="@Url.Action("baohanh","ShopSecondHand")" title="Chính sách bảo hành" style="color: white;font-family:Tahoma; padding: 0px 15px 10px;">Chính sách bảo hành & đổi trả</a><br /></li>
                        </p>

                    </ul>
                </div>


                <!--Usefull link-->
                <div class="footer-col-3">
                    <h3>Hệ Thống Cửa Hàng</h3>
                    <ul>
                        <li><i class="fa fa-map-marker" aria-hidden="true" style="padding-right:10px"></i>Chi nhánh 1:69/7B Nguyễn Gia Trí,Quận Bình Thạnh,TP.HCM</li>

                    </ul>
                </div>

                <!--Follow us-->
                <div class="footer-col-4">
                    <h3>FOLLOW FANPAGE</h3>
                    <!--API-->
                    <div class="fb-page" data-href="https://www.facebook.com/CALA-Ti%E1%BB%87m-2hand-104941784794471/" data-tabs="timeline" data-width="340" data-height="130" data-small-header="false" data-adapt-container-width="false" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/CALA-Ti%E1%BB%87m-2hand-104941784794471/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/CALA-Ti%E1%BB%87m-2hand-104941784794471/">CALA. Tiệm 2hand</a></blockquote></div>

                </div>

            </div>
            <!--chan footer-->
            <hr>
            <p class="copyright">copyright 2021 - CALA Team</p>
        </div>
    </div>
    <!--End footer-->

</body>
</html>


<script src="~/Scripts/jquery-3.3.1.js"></script>
<!--Plugins-->
<script src="~/Scripts/bootstrap.bundle.js"></script>
<script src="~/Scripts/loaders.css.js"></script>
<script src="~/Scripts/aos.js"></script>
<script src="~/Scripts/swiper.min.js"></script>
<script src="~/Scripts/lightgallery-all.min.js"></script>
<!--Template Script-->

<script src="~/Scripts/main.js"></script>