@model Web_Bán_Quần_Áo_SecondHand.Models.KhachHang

@{
    ViewBag.Title = "Dangky";

}

<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Đăng ký</title>
    <title> Đăng ký</title>
    <!-- Font Icon -->
    <link rel="stylesheet" href="~/Content/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="~/Content/style.css">
</head>
<body1>

    <div class="main">

        <section class="signup">

            <div class="container">
                <div class="signup-content">
                    <form method="POST" id="signup-form" class="signup-form">
                        <h2 class="form-title">Đăng Kí</h2>
                        @Html.ValidationSummary(true)
                        <div class="form-group">
                            <input type="text" class="form-input" name="HotenKH" id="name" placeholder="Họ Tên Khách Hàng" required />
                        </div>
                        <span class="label">
                            <span style="color:red; padding-left:10px">@ViewData["Loi2"] </span>
                            <div class="form-group">
                                <input type="text" class="form-input" name="TenDN" id="username" placeholder="Tên Đăng Nhập" required />
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-input" name="Matkhau" id="password" placeholder="Mật khẩu" required />
                                <span toggle="#password"></span>
                            </div>
                            <span style="color:red; padding-left:10px">@ViewData["Loi4"] </span>
                            <span style="color:red; padding-left:10px">@ViewData["Loi1"] </span>
                            <div class="form-group">
                                <input type="password" class="form-input" name="NhaplaiMatkhau" id="re_password" placeholder="Nhập lại mật khẩu" required />
                            </div>

                            <div class="form-group">
                                <input type="email" class="form-input" name="email" placeholder="Email" required />
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-input" name="Dienthoai" placeholder="Số điện thoại" required size="12" maxlength="12" />
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-input" name="DiaChi" placeholder="Địa chỉ" required />
                            </div>
                            <div class="form-group">
                                <span style="color:red; padding-left:10px">@ViewData["Loi3"] </span>
                                <input type="date" class="form-input" name="NgaySinh" id="NgaySinh" placeholder="Ngày Sinh" required />
                            </div>
                            <div class="form-group">
                                <input type="submit" name="submit" id="submit" class="form-submit" value="Đăng Kí" required />
                            </div>
</form>
                    <p class="loginhere">
                        Bạn đã có tài khoản ? <a href="@Url.Action("Dangnhap","Nguoidung")" class="loginhere-link">Đăng nhập</a>
                    </p>
                </div>
            </div>
        </section>

    </div>

    <!-- JS -->

</body1>
<!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>

<script src="~/Scripts/jquery.min.js"></script>
<script type="text/javascript">
    (function ($) {

        $(".toggle-password").click(function () {

            $(this).toggleClass("zmdi-eye zmdi-eye-off");
            var input = $($(this).attr("toggle"));
            if (input.attr("type") == "password") {
                input.attr("type", "text");
            } else {
                input.attr("type", "password");
            }
        });

    })(jQuery);
</script>