@model Web_Bán_Quần_Áo_SecondHand.Models.KhachHang
<link href="~/Content/style.css" rel="stylesheet" />
@{
    ViewBag.Title = "Dangnhap";

}
<html>
<head>
    <meta charset="utf-8">
    <title>Form-v8 by Colorlib</title>
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Font-->
    <link rel="stylesheet" type="text/css" href="css/sourcesanspro-font.css">
    <!-- Main Style Css -->
    <link rel="stylesheet" href="css/style.css" />
</head>
<body class="form-v8">
    <div class="page-content">
        <div class="form-v8-content">
            <div class="form-left">
                <img src="~/Content/Images/calalogo.png" alt="form">
            </div>
            <div class="form-right">
                <div class="tab">
                    <div class="tab-inner">
                        <button class="tablinks" onclick="openCity(event, 'sign-in')" id="defaultOpen">Đăng Nhập</button>
                    </div>

                </div>
                <form class="form-detail" action="#" method="post">
                    <div class="tabcontent" id="sign-in">
                        @Html.ValidationSummary(true)
                        

                        <div class="form-row">
                            <label class="form-row-inner">

                                <input type="text" name="TenDN" class="input-text" required size="30" maxlength="30" />
                                <span class="label"><span style="color:red; font-weight: 200 ">@ViewBag.Thongbao</span><p><p style="text-align:left"> Username</p></p> <span style="color:red">@ViewData["Loi1"] </span>  </span>
                                
                            </label>
                        </div>

                        <div class="form-row">
                            <label class="form-row-inner">
                                <input type="password" name="Matkhau" class="input-text" required size="25" maxlength="25" />
                                <span class="label">Password @ViewData["Loi2"]</span>
                                <span class="border"></span>
                            </label>
                        </div>
                        <div class="form-row-last">
                            <input type="submit" name="submit" class="register" value="Đăng Nhập">

                        </div>
                        <div>
                            <span>Bạn chưa có tài khoản ?</span>
                            <a href="@Url.Action("Dangky","Nguoidung")" style="margin-left: 10px;">Đăng Kí</a>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <script type="text/javascript">
        function openCity(evt, cityName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(cityName).style.display = "block";
            evt.currentTarget.className += " active";
        }

        // Get the element with id="defaultOpen" and click on it
        document.getElementById("defaultOpen").click();
    </script>
</body>
</html>



